<header>
  <div class="logo">
    <img src="" alt="">
  </div>
  <button class="nav-toggle" (click)="toggle()" aria-label="toggle-navigation">
    <span class="hamburger" [ngClass]="{'hamburgerColor': showcontent}">
    </span>
  </button>
  <nav class="nav" *ngIf="showcontent">
    <ul class="nav-list">
      <li class="nav-item" (click)="toggle()"><a href="#home" class="nav-link">Home</a></li>
      <li class="nav-item" (click)="toggle()"><a href="#services" class="nav-link">My Services</a></li>
      <li class="nav-item" (click)="toggle()"><a href="#about" class="nav-link">About me</a></li>
      <li class="nav-item" (click)="toggle()"><a href="#work" class="nav-link">My Work</a></li>
    </ul>
  </nav>
</header>
<!-- ---------------------------------------- -->
<section class="intro" id="home">
  <h1 class="section-title section-title-intro">
    Hi, I am <strong>Hafiz Abdul Mannan</strong>
  </h1>
  <p class="section-subtitle section-subtitle-intro">
    Front-end Developer
  </p>
  <img src="../assets/images/A.6034.17.jpg" alt="" class="intro-img">
</section>
<section class="my-services" id="services">
  <h2 class="section-title section-title-services">
    What I do
  </h2>
  <div class="services">
    <div class="service">
      <h3>
        Design + Development
      </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores officia at, magnam, non necessitatibus,
        blanditiis illum laboriosam autem repudiandae quis recusandae exercitationem placeat quia vitae aliquam possimus
        amet pariatur sint.</p>
    </div>
    <div class="service">
      <h3>
        E-commerce
      </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores officia at, magnam, non necessitatibus,
        blanditiis illum laboriosam autem repudiandae quis recusandae exercitationem placeat quia vitae aliquam possimus
        amet pariatur sint.</p>
    </div>
    <div class="service">
      <h3>
        Word Press
      </h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores officia at, magnam, non necessitatibus,
        blanditiis illum laboriosam autem repudiandae quis recusandae exercitationem placeat quia vitae aliquam possimus
        amet pariatur sint.</p>
    </div>
  </div>
  <a href="work" class="btn">My work</a>
</section>
<!-- ------------------------------- -->
<section class="about-me" id="about">
  <h2 class="section-title section-title-about">
    Who I am
  </h2>
  <p class="section-subtitle section-subtitle-about">
    Design and Developer based out of NYC
  </p>
  <div class="about-me-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis tenetur necessitatibus nisi minus
      ipsam iure. Odio veniam eaque illum ab vitae. Iusto dolore quo vitae aspernatur labore quasi maiores.
      Natus corrupti eum impedit dicta distinctio dolorum. Ratione deleniti similique quae dolore omnis veritatis in
      delectus. Sit dolorem nisi impedit quidem similique optio quaerat esse. Pariatur itaque incidunt maiores sit?
      Sunt amet nulla sint hic laborum fugiat numquam. Excepturi, dolores sequi. Itaque doloribus voluptate officiis
      veritatis eius voluptates rerum illum consequuntur dolores, dolorum similique aliquam quisquam voluptatem voluptas
      iure at?
      Ducimus accusantium explicabo autem nemo asperiores nam nobis veniam, molestias doloribus distinctio totam,
      inventore qui quibusdam sequi hic quos sed, consequatur rerum facere aspernatur ipsum aliquam esse labore tempora!
      Quis?</p>
  </div>
  <img src="../assets/images/1653150952853.jpg" alt="" class="about-me-img">
</section>
<!-- -------------------------------- -->
<section class="my-work" id="work">
  <h2 class="section-title section-title-work">
    My Work
  </h2>
  <p class="section-subtitle section-subtitle-work">
    A selection of my range of work
  </p>
  <div class="portfolio">
    <a href="" class="portfolio-item">
      <img src="../assets/images/WeatherApp1.jpg" class="portfolio-img">
    </a>
    <a href="" class="portfolio-item">
      <img src="../assets/images/RecipeBook1.jpg" class="portfolio-img">
    </a>
    <a href="" class="portfolio-item">
      <img src="../assets/images/FoodMine1.jpg" class="portfolio-img">
    </a>
    <a href="" class="portfolio-item">
      <img src="../assets/images/depositphotos_1757316-stock-photo-bio-logo.jpg" class="portfolio-img">
    </a>
  </div>
</section>
<!-- ----------------------------- -->
<footer>
  <a href="" class="footer-link"> hello@maannan.dev</a>
  <ul class="social">
    <li class="social-list-item">
      <a href="a" class="social-list-link">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li class="social-list-item">
      <a href="a" class="social-list-link"><i class="fa-brands fa-linkedin"></i></a>
    </li>
  </ul>
</footer>